html {
  background-color: #fbf9f2;
}

body {
  font-family: 'Hedvig Letters Serif', serif;
  font-size: 120%;
  margin: 0;
  word-break: break-word;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.2em;
  margin-top: 2em;
  margin-bottom: 0.5em;
}

@media only screen and (min-width: 900px) {
  h1 {
    font-size: 4em;
  }
  
  h2 {
    font-size: 2.6em;
  }
  
  h3 {
    font-size: 1.6em;
  }
}

@media only screen and (max-width: 899px) {
  img ~ h3 {
    margin-top: 0em;
  }
}

a {
  color: #681313;
}

a:hover {
  opacity: 0.6;
}

td {
  padding-right: 1em;
}

.section-header {
  clear: both;
}

.section-header img {
  display: block;
  float: none;
  margin: 4em auto 0 auto;
  max-width: 100%;
  height: auto;
}

@media only screen and (min-width: 900px) {
  .section-header img {
    float: right;
    text-align: left;
    margin: 0 0 1em 1em;
  }
}

.links :not(:last-child) {
  margin-right: 1em;
}

.content {
  max-width: 74ch;
  padding: 2em 1em 6em;
  margin: 0 auto;
}

@media only screen and (min-width: 900px) {
  .content {
    padding: 3em 2em 8em;
  }
}

.hero {
}

.hero-image {
  display: flex;
  justify-content: center;
  /* margin-right: 2em; */
  margin-top: 2em;
  margin-bottom: 2em;
}

.hero__text {
  flex: 1;
  max-width: 74ch;
}

.divider {
  width: 150px;
  margin: 4em auto;
  border-bottom: 1px solid #c4ab50;
}
